<div>
  <div class="submit-form">
    <div *ngIf="!submitted"class="background-box">
      <div class="form-group">
        <label for="title">NOMBRE</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="curso.nombre"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="content">FECHA DE INICIO</label>
        <input
          type="datetime-local"
          class="form-control datepicker"
          data-date-format="yyyy-mm-dd"
          id="content"
          required
          [(ngModel)]="curso.fechaInicio"
          name="content"
        />
        
      </div>
      
      <div class="form-group">
  <label for="idDocente">ID DEL DOCENTE (*)</label>
  <input type="number" class="form-control" id="idDocente" [(ngModel)]="curso.idDocente" name="idDocente" />
</div>

<div class="form-group">
  <label for="temaSelect">TEMA(*):</label>
  <select id="temaSelect" [(ngModel)]="curso.tema" name="tema" class="form-control">
    <option *ngFor="let tema of temas" [ngValue]="tema">{{ tema.nombre }}</option>
  </select>
</div>
<div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="showAlert" class="alert alert-danger">
 
 FALTAN COMPLETAR CAMPOS OBLIGATORIOS (*)
</div>


 
      <button (click)="saveCurso()" class="btn btn-success">Submit</button>
    </div>
    <div *ngIf="submitted">
      <h4>Curso was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newCurso()">Add</button>
    </div>
  </div>
</div>



